$dark_color: #26282F
$font_family_alt: adonis-web, serif
$font_family: 'Playfair Display', serif

@each $heading, $size in (h1: 4rem, h2: 2.4rem, h3: 1.5rem, h4: 1.25rem , h5: 1rem, h6: 1 rem)
  #{$heading}
      font-size: $size
      line-height: 1.2
      font-weight: 300
      color: #fff
      font-family: $font_family
      margin: 0

body
  color: white
  background-color: $dark_color
  font-family: $font_family
  font-size: 1rem
  line-height: 1.5rem

.container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: .5rem .5rem
  padding: 1rem
  max-width: 1400px
  margin: 0 auto


.homepage_bg
  background-image: url('img/homepage_bg.jpeg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%

.logo
  grid-column: span 4
  justify-self: center
  max-height: 80px
  @media (min-width: 700px)
    grid-column: span 1
    justify-self: start
    align-self: center
  &_svg
    width: 160px
    height: 20px
    fill: white

.navigation
  justify-self: center
  align-self: start
  grid-column: span 4
  @media (min-width: 700px)
    grid-column: span 3
    justify-self: end
  ul li
    margin: 0 .5rem
    display: inline-block
    vertical-align: middle
    @media (min-width: 700px)
      margin: 0 1.5rem
  ul
    padding: 0
  a
    color: yellow
    font-size: 1rem
    &:hover
      color: red


.hero
  grid-column: span 4
  min-height: 50vh
  background-color: navy
  justify-self: stretch
  align-items: end
  &_content
    text-align: center
    background-color: green
  h3
    margin-bottom: 3rem

.card
  grid-column: span 4
  display: block
  background-color: black
  min-height: 20rem
  border-radius: .375rem
  @media (min-width: 700px)
    grid-column: span 2

.faq
  grid-column: span 4
  background-color: lightblue
  border-radius: .375rem
  padding: 1rem
  @media (min-width: 700px)
    grid-column: span 2
  &_question
    border-bottom: 1px solid grey
    padding-bottom: 1rem
  &_answer
    color: black

.shoot
  &_photo
    grid-column: span 4
    background-color: yellow
    margin-bottom: 3rem
    text-align: center
    @media (min-width: 700px)
      grid-column: span 3
    img
      width: 100%
      max-width: 691px
    &_full
      grid-column: span 4
      margin-bottom: 3rem
      img
        width: 100%
        max-width: 1400px
  &_description
    grid-column: span 4
    align-self: center
    @media (min-width: 700px)
      grid-column: span 1
  &_testimonial
    background-color: green
  &_team
    background-color: blue

.offer
  background-color: red
  height: 30vh
  margin-bottom: 3rem
  border-radius: .375rem

a
  text-decoration: none

.icon
  width: 1.5rem
  height: 1.5rem
  vertical-align: center
  fill: currentColor

.page_title
  grid-column: span 4
  margin-bottom: 1rem

.o3
  @media (max-width: 700px)
    order: 3

.o4
  @media (max-width: 700px)
    order: 2

.o5
  order: 5
